h1 {
    color: #8B4513;
    font-size: 32px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

p {
    color: grey;
    font-size: 18px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

div {
    border: 4px solid rgb(73, 255, 28);
    padding: 25px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 10px;
}

img {
    margin: 20px;
    border-radius: 10px;
    max-width: 100%;
}

#Portfolio {
    color: #6a0dad;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;

}
.footer-design {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    padding:10px 0;
}

